@import url('https://fonts.googleapis.com/css?family=Cantarell');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 50px;
}

footer {
  padding-bottom: 8px;
  background-color: #282c34;
}

footer h6 {
  color: aliceblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide {
  height: 100vh;
  width: 100%;
}

.square {
  width: 1.2em;
  height: 1.2em;
  border-radius: .1em;
}

.lg-square {
  width: 2em;
  height: 2em;
  border-radius: .1em;
  transition: transform .1s;
}

.lg-square:hover {
  transform: scale(1.05);
}

.navy {
  background: linear-gradient(135deg, #5ee7df 0%, #4a78da 100%);
}

.airforce {
  background: linear-gradient(135deg, #96fbc4 0%, #8bda4b 100%);
}

.civilian {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

.green {  
  background: linear-gradient(135deg, #96fbc4 0%, #8bda4b 100%);
}

.red {
  background: linear-gradient(135deg, #b86c7f 0%, #f5576c 100%);
}

.orange {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

.blue {
  background: linear-gradient(135deg, #5ee7df 0%, #4a78da 100%);
}

.gray {
  background-color: gray;
}
